<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>
<p>This content can be viewed by everyone.</p>
<p><a href="/admin">Go to Admin Page (requires admin role)</a></p>
<p><a href="/user">Go to User Page (requires admin or user role)</a></p>
<p><a href="/logout">Logout</a></p>
</body>
</html>
